@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root {
    --main-color: #2980b9;
    --orange: #f39c12;
    --red: #e74c3c;
    --black: #444;
    --white: #fff;
    --light-color: #777;
    --light-bg: #f5f5f5;
    --border: 0.2rem solid var(--black);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    --white-light: rgba(255, 255, 255, 0.5);
    --alice-blue: #f8f9fa;
    --carribean-green: #40c9a2;
    --gray: #ededed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
}

.page-wrapper {
    height: max-content;
}

/* create breadcrumbs cho category */

.breadcrumbs {
    width: 100%;
    padding: 0.5rem 2.8rem;
    margin: 0;
}

.breadcrumbs .container {
    background-color: #f5f5f5;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.breadcrumbs .container .items {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 8px;
}

.container .items>li {
    line-height: 30px;
    padding: 0 5px;
}

.breadcrumbs .container .items>li i {
    padding-right: 8px;
}

.breadcrumbs .container .items>li a {
    text-decoration: none;
}

.container .items>li:hover a,
.container .items>li:hover i {
    transition: 0.3s;
    color: #40c9a2;
}

.container .items>li+li:not(:first-child):before {
    content: "\f054";
    font-family: "FontAwesome";
    padding-right: 10px;
}

/* ket thuc phan breadcrumbs */

/* start sidebar category */

.sidebar {
    padding-right: 15px;
    left: 0;
    bottom: 0;
}

.title {
    font-weight: 700;
    margin: 0;
}

.sidebar-category ul {
    list-style: none;
    height: 100%;
    width: 100%;
}

.main-list {
    padding: 1rem 0;
}

.main-list li {
    line-height: 50px;
    border-bottom: 1px solid #ededed;
    position: relative;
}

.main-list li a {
    font-size: 18px;
    text-decoration: none;
    display: block;
    width: 100%;
    padding-left: 1rem;
    border-left: 2px solid transparent;
    transition: transform 0.3s;
}

.main-list li a:hover {
    transform: translateX(7px);
}

.main-list li.active a {
    color: #40c9a2;
    border-left-color: #40c9a2;
    font-style: italic;
}

.main-list li:last-child {
    border-bottom: none;
}

/* end sidebar category */

/* start catalog-product-item */

.main-container {
    padding: 15px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 350px 1fr;
}

.list-product .product-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    padding-left: 10px;
    padding-bottom: 13px;
}

.catalog-product-item {
    position: relative;
    border: 1px solid #ccc;
}

.product-content {
    background-color: var(--gray);
    padding: 2.5rem 0.5rem 1.5rem 0.5rem;
    cursor: pointer;
}

.product-img-box {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border-radius: 50%;
    transition: all ease-in 0.2s;
    box-shadow: 0 0 20px 10px var(--white-light);
    background: var(--white-light);
}

.product-img-box img {
    width: 100%;
    display: block;
}

.product-btns {
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    opacity: 1;
    transition: opacity 0.6s ease;
}

.btn-cart,
.btn-buy {
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem 0;
    width: 125px;
    font-size: 0.8rem;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
}

.btn-cart {
    background: black;
    color: white;
    margin-right: 1rem;
    padding: 0.8rem 0.5rem;
}

.btn-buy {
    background: white;
    border: 1px solid black;
}

.btn-buy:hover,
.btn-cart:hover {
    background: var(--carribean-green);
}

.btn-buy:hover {
    color: #fff;
}

.product-info {
    background: white;
    padding: 0 1.5rem 1rem;
    transition: all ease-in 0.2s;
    border-top: 0.5px solid #ccc;
}

.product-info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
}

.product-info a:hover{
    transition: 0.3s;
    color: #fff;
}

.rating span {
    color: var(--carribean-green);
}

.product-name {
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.product-price {
    padding: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
}

.product-price-sale {
    color: var(--carribean-green);
}

.product-price-linet {
    text-decoration: line-through;
    color: #999;
}

.product-img-box img {
    transition: transform 0.6s ease;
}

.catalog-product-item:hover .product-img-box img {
    padding: 1.5rem;
}

.catalog-product-item:hover .product-img-box {
    background: var(--carribean-green);
}

.catalog-product-item:hover .product-content {
    background: white;
}

.catalog-product-item:hover .product-info {
    background: var(--carribean-green);
}

.catalog-product-item:hover .product-price:first-of-type {
    color: #777;
}

.catalog-product-item:hover .product-price {
    color: white;
}

.catalog-product-item:hover .rating span {
    color: white;
}

.off-info .sm-title {
    background: var(--carribean-green);
    color: white;
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 1;
    letter-spacing: 3px;
    cursor: pointer;
}

.off-info .favorite-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.off-info .fa-solid {
    color: red;
}

.catalog-product-item:hover .product-btns {
    opacity: 1;
}

/* ends catalog-product-item */

/* start bottom-pagination */

.bottom-pagination {
    display: flex;
    padding-top: 13px;
    margin-left: 10px;
    border-top: 1px solid #ccc;
}

.pagination {
    display: flex;
    list-style: none;
    margin: 0 auto;
}

.pagination .item {
    text-align: center;
    border: 1px solid #a6a5a5;
    width: 30px;
}

.pagination>li {
    padding: 5px 0px;
    margin: 0 5px;
}

.pagination li a {
    text-decoration: none;
    transition: 0.3s;
}

.pagination li a:hover {
    color: #f04e45;
}

.pagination li.current {
    background-color: #f04e45;
}

.pagination li.current a {
    color: white;
}

/* end bottom-pagination */

@media (max-width: 1200px) {
    .main-container {
        grid-template-columns: 300px 1fr;
    }
}

@media (max-width: 1100px) {
    .main-container {
        grid-template-columns: 250px 1fr;
    }

    .list-product .product-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .main-container {
        grid-template-columns: 200px 1fr;
    }

    .list-product .product-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .main-list li a {
        font-size: 16 px;
    }
}