@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

:root {
  --main-color: #2980b9;
  --orange: #f39c12;
  --red: #e74c3c;
  --black: #444;
  --white: #fff;
  --light-color: #777;
  --light-bg: #f5f5f5;
  --border: 0.2rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --white-light: rgba(255, 255, 255, 0.5);
  --alice-blue: #f8f9fa;
  --carribean-green: #40c9a2;
  --gray: #ededed;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  /* overflow-x: hidden; */
}

header {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: white;
  box-shadow: white;
  z-index: 1000;
  height: 5rem;
}

.container {
  width: 88vw;
  margin: 0 auto;
}

/*custom section header*/
.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 5rem;
  z-index: 21;
  flex-shrink: 0;
}

.section-header .fa-times {
  transform: rotate(360);
}

.section-header .home {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  padding: 2rem;
  margin: 0 3.5rem;
  font-size: 1.5rem;
  color: black;
  display: flex;
  flex-shrink: 0;
}

.section-header .home:hover {
  color: var(--carribean-green);
}

/*end custom section header*/

/*nav bar custom and animation*/
.nav-bar {
  position: relative;
  margin-left: 5rem;
}

.icon{
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 12px;
  font-size: 30px;
  margin-right: 30px;
  display: none;
}

.menu-items {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content:space-evenly;
}

.menu-items li {
  position: relative;
  list-style: none;
}

.menu-items li:nth-last-child(2) i{
  position: absolute;
  right: 5%;
  bottom: 40%;
}

.menu-items li a {
  font-family: "Nunito", sans-serif;
  display: block;
  padding: 1.6rem 1.3rem;
  margin: 0 1rem;
  font-size: 1.3rem;
  color: black;
  text-decoration: none;
  text-align: center;
}

.menu-items ul.sub-menu{
  position: absolute;
  background-color: #fff;
  list-style: none;
  padding-top: 0.3rem;
  width: 220px;
  display: none;
  /* border: 1px solid #000; */
}

.menu-items li:hover>ul.sub-menu{
  display: block;
}

.menu-items ul.sub-menu a{
  padding: 8px 1.2rem;
  border-bottom: 1px solid #ededed;
  transition: 0.3s;
  left: 0;
}

.menu-items ul.sub-menu li:hover>a{
  border-bottom: 2px solid #d3d3d3;
  color: #27cd9e;
}

.menu-items ul.sub-menu li:last-child a{
  border: none;
}

.menu-items ul.sub-menu ul.sub-menu{
  top: 10px;
  left: 220px;
}

.menu-items .sub-menu>li.has-child::after{
  content: "\f054";
  font-family: "FontAwesome";
  position: absolute;
  top: 10px;
  right: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.menu-items .sub-menu>li.has-child:hover:after{
  color: #40c9a2;
}

.menu-items>li>a::after{
  content: "";
  position: absolute;
  background-color: #40c9a2;
  height: 3px;
  width: 0;
  left: 18px;
  bottom: 12px;
  transition: 0.3s;
}

.menu-items>li>a.active::after{
  content: "";
  position: absolute;
  background-color: #40c9a2;
  height: 3px;
  width: 80%;
  left: 18px;
  bottom: 12px;
  transition: 0.3s;
}

.menu-items>li:hover>a::after{
  width: 80%;
}

/*end custom nav bar*/

.section-header .icons {
  flex-shrink: 0;
  font-family: "Nunito", sans-serif;
  margin-right: 3rem;
}

.icons .list-icon{
  display: flex;
  margin: 0;
  padding: 0;
}

.icons .list-icon li{
  list-style: none;
  cursor: pointer;
  position: relative;
  margin-left: 1rem;
}

.list-icon li a {
  font-family: "Nunito", sans-serif;
  padding: 0.5rem;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

.list-icon .profile-menu{
  position: absolute;
  background-color: #f7f7f7;
  top: 40px;
  right: -20px;
  padding: 10px 8px;
  width: 150px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.list-icon .profile-menu.active{
  visibility: visible;
  opacity: 1;
}

.list-icon .profile-menu::before{
  content: "";
  position: absolute;
  top: -9px;
  right: 20px;
  width: 17px;
  height: 17px;
  background-color: #f7f7f7;
  box-shadow: -0.5px -0.5px 0 rgba(0, 0, 0, 0.25);
  transform: rotate(45deg);
}

.list-icon .profile-menu p{
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #555;
  line-height: 1.2rem;
  text-align: center;
  margin-bottom: 10px;
}

.list-icon .profile-menu p:hover{
  font-weight: 800;
}

.profile-menu ul li{
  border-top: 1px solid #ededed;
  padding: 8px 0;
  transition: transform 0.3s;
}

.profile-menu ul li:hover {
  border-top: 2px solid #d3ded3;
  transform: translateX(3px);
}

.profile-menu ul li i{
  opacity: 0.5;
  transition: 0.3s;
  max-width: 20px;
  margin-right: 10px;
}

.profile-menu ul li:hover i {
  opacity: 1;
}

.profile-menu ul li:hover a{
  font-weight: 600;
}

.search {
  width: 30px;
}

.search-bar {
  display: none;
  width: 100vw;
  animation: fadeIn;
  position: absolute;
  top: 50%;
  opacity: 0;
  transition: all .2s linear;
  border: 1px solid #ccc;

}

.search-bar.active{
  display: block;
}

.active-bg-keychild {
  background-color: #40c9a2;
  border: 1px solid #ccc;
  color: red;
}

@keyframes fadeIn {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 100%;
    opacity: 1;
  }
}

.active {
  top: 100%;
  opacity: 1;
}

.search-bar input {
  width: 100%;
  padding: .5rem;
  outline: none;
}

.wrap-product-search {
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  overflow-y: scroll;
}

.wrap-product-search:hover {
  opacity: 0.9;
}

.product-search {
  border-top: 1px solid #ccc;
}

.product-search > span {
  margin-right: 3rem;
  font-size: 2rem;
  float: left;
}

.product-search > span:hover {
  color: #27cd9e;
}

.show-product-search {
  margin-left: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.show-product-search > img {
  width: 10rem;
  object-fit: contain;
}

.active-bg-keychild {
  background-color: #40c9a2!important;
  border: 1px solid #ccc!important;
}
.error {
  color: red;
}

/* .key-search {
  background-color: #ccc;
}

.key-search > .key-child {
  display: block;
} */

/*custom icon header*/
.fa-magnifying-glass,
.fa-heart,
.fa-cart-shopping,
.fa-user {
  color: black;
}

.fa-magnifying-glass:hover,
.fa-heart:hover,
.fa-cart-shopping:hover,
.fa-user:hover {
  color: var(--carribean-green);
}

/*end custom icon header*/

/*custom slider for html*/
.mySlides {
  display: none;
  width: 100%;
  margin: 0;
  padding: 3rem 6rem 5rem 6rem;
}

.w3-left {
  position: absolute;
  top: -17.5rem;
  font-size: 2rem;
  opacity: 0.3;
}

.w3-right {
  position: absolute;
  right: 0;
  top: -17.5rem;
  font-size: 2rem;
  opacity: 0.3;
}

.w3-left:hover,
.w3-right:hover {
  opacity: 1;
}

.w3-left,
.w3-right,
.w3-badge {
  cursor: pointer;
}

.w3-badge {
  height: 17.5px;
  width: 13px;
  padding: 0;
}

.slide-container {
  position: relative;
  background: url("../images/home-bg.png") no-repeat fixed center;
  background-size: cover;
}

/* swiper */
.swiper-container {
  width: 100vw;
  height: 80vh;
}

.swiper-center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-center img {
  height: 25rem;
  width: fit-content;
  display: block;
}

/* custom product list */

.product-img img {
  width: 100%;
  display: block;
}

.product-container {
  width: 88vw;
  margin: 0 auto;
}

.lg.title,
.sm-title {
  font-family: "Nunito", sans-serif;
  padding: 0.6rem 0;
  text-transform: capitalize;
}

.lg-title {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  padding:  0;
  opacity: 0.9;
}

.sm-title {
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}

.md-title {
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
}

.text-light {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  opacity: 0.5;
  margin: 0.4rem 0;
}

/* Sub menu list price */
.key-search-list-price {
  position: absolute;
  right: 9.5%;
  top: 120%;
  box-shadow: 8px 8px 30px rgba(0,0,0,.05);;
  background-color: #fff;
  border-radius: 0.5rem;
}

.clip-path-key-search-price {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  top: -8%;
  right: 40%;
  clip-path: polygon(50% 0%, 0 45%, 100% 45%);
}

.key-search-list-price-child {
  list-style: none;
  text-align: center;
}

.key-search-list-price-child > li {
  padding: 0.5rem;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all .2s ease;
}

.key-search-list-price-child > li:hover {
  background-color: #ccc;
}

.hide-list {
  display: none;
}

.bg-list {
  background-color: var(--carribean-green);
}

/* List star */
.key-search-list-star {
  position: absolute;
  right: 1.5%;
  top: 110%;
  box-shadow: 8px 8px 30px rgba(0,0,0,.05);;
  background-color: #fff;
  z-index: 100;
}

.clip-path-key-search-star {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  top: -6%;
  right: 9%;
  clip-path: polygon(50% 0%, 0 45%, 100% 45%);
}

.key-search-list-star-child {
  list-style: none;
  text-align: center;
  border-radius: 1rem;

  color: #FFD700;
}

.key-search-list-star-child > li {
  padding: 0.5rem;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all .2s ease;
}

.key-search-list-star-child > li:hover {
  background-color: #ccc;
}