@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");
:root {
  --main-color: #2980b9;
  --orange: #f39c12;
  --red: #e74c3c;
  --black: #444;
  --white: #fff;
  --light-color: #777;
  --light-bg: #f5f5f5;
  --border: 0.2rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --white-light: rgba(255, 255, 255, 0.5);
  --alice-blue: #f8f9fa;
  --carribean-green: #40c9a2;
  --gray: #ededed;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

header {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: white;
  box-shadow: white;
  z-index: 1000;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-bar {
  display: flex;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.section-header .home {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  padding: 2rem;
  margin-left: 5rem;
  font-size: 1.5rem;
  color: black;
  display: flex;
  flex-shrink: 0;
}

.nav-bar a {
  font-family: "Nunito", sans-serif;
  margin: 0 1rem;
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  font-family: "Nunito", sans-serif;
  margin-right: 5rem;
}

.icons a {
  font-family: "Nunito", sans-serif;
  padding: 0.5rem;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

.fa-magnifying-glass,
.fa-heart,
.fa-cart-shopping,
.fa-user {
  color: black;
}
/*custom slider for html*/
.mySlides {
  display: none;
  width: 100%;
  margin: 0;
  padding: 3rem 5rem 5rem 5rem;
}

.w3-left{
  position: absolute;
  top: -17.5rem;
}

.w3-right{
  position: absolute;
  right: 0;
  top: -17.5rem;
}

.w3-left,
.w3-right,
.w3-badge {
  cursor: pointer;
}
.w3-badge {
  height: 17.5px;
  width: 13px;
  padding: 0;
}

.slide-container {
  position: relative;
  background-image: url("../images/home-bg.png");
}

/* custom product list */
.product-img img {
  width: 100%;
  display: block;
}

.product-container {
  width: 88vw;
  margin: 0 auto;
}

.lg.title,
.sm-title {
  font-family: "Nunito", sans-serif;
  padding: 0.6rem 0;
  text-transform: capitalize;
}

.lg-title {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  padding: 1.3rem 0;
  opacity: 0.9;
}

.sm-title {
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}

.text-light {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  opacity: 0.5;
  margin: 0.4rem 0;
}

/*product section*/
.products {
  background: var(--alice-blue);
  padding: 3.2rem 0;
}

.products .text-light {
  text-align: justify;
  width: 70%;
  margin: 0.9rem auto;
}

.product {
  margin: 2rem;
  position: relative;
}

.product-content {
  background: var(--gray);
  padding: 3rem 0.5rem 2rem 0.5rem;
  cursor: pointer;
}

.product-img {
  background: var(--white-light);
  box-shadow: 0 0 20px 10px var(--white-light);
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  transition: background 0.5s ease;
}

.product-btns {
  display: flex;
  justify-content: center;
  margin-top: 1.4rem;
  opacity: 1;
  transition: opacity 0.6s ease;
}

.btn-cart,
.btn-buy {
  background: transparent;
  border: 1px solid black;
  padding: 0.8rem 0;
  width: 125px;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease;
}

.btn-cart {
  background: black;
  color: white;
  margin-right: 1rem;
}

.btn-cart:hover {
  background: var(--carribean-green);
}

.btn-buy {
  background: white;
}

.btn-buy:hover {
  background: var(--carribean-green);
  color: #fff;
}

.product-info {
  background: white;
  padding: 2rem;
}

.product-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating span {
  color: var(--carribean-green);
}

.product-name {
  color: black;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.product-price {
  padding: 0.6rem;
  padding-right: 0.6rem;
  display: inline-block;
}
.product-price:first-of-type /*?*/ {
  text-decoration: line-through;
  color: var(--carribean-green);
}

.product-img img
{
  transition: transform 0.6s ease;
}

.product:hover .product-img img
{
  transform: scale(1.1);
}

.product:hover .product-img
{
  background: var(--carribean-green);
}

.product:hover .product-btns
{
  opacity: 1;
}

.off-info .sm-title
{
  background: var(--carribean-green);
  color: white;
  display: inline-block;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-lr; /*?*/
  transform: rotate(180deg);
  z-index: 1;
  letter-spacing: 3px;
  cursor: pointer;
}

@media screen and (min-width: 992px)
{
  .product-items
  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px)
{
  .product-items
  {
    grid-template-columns: repeat(3, 1fr);
  }
  .product
  {
    margin-right: 1rem;
    margin-left: 1rem;

  }
  .products .text-light
  {
    width: 50%;
  }
}

@media screen and (min-width: 1336px)
{
  .product-items
  {
    grid-template-columns: repeat(4, 1fr);
  }
}
