.profile-container{
    background: linear-gradient(90deg, rgba(246,246,249,1) 0%, rgba(32,32,153,1) 150%);
    display: flex;
    width: 800px;
    height: 500px;
    border: 1px solid black;
    margin: 5rem auto;
}

.profile-left{
    width: 30%;
    border-right: 1px solid #777;
}

.profile-img{
    padding: 1rem;
}

.profile-img img{
    border-radius: 50%;
}

.profile-username{
    text-align: center;
}

.profile-right{
    width: 70%;
    padding: 1rem;
}

.profile-header{
    padding-bottom: 1rem ;
    font-weight: bold;
    font-size: 1.1rem;
    border-bottom: 1px solid #777;
}

.profile-info{
    padding: 1rem;
    font-weight: bold;
}

.profile-firstname{
    color: #444;
    margin-left: 4rem;
}


.profile-lastname{
    color: #444;
    margin-left: 4rem;
}


.profile-gender{
    color: #444;
    margin-left: 4rem;
}


.profile-dob{
    color: #444;
    margin-left: 4rem;
}


.profile-pob{
    color: #444;
    margin-left: 4rem;
}


.profile-createDate{
    color: #444;
    margin-left: 4rem;
}
