@import url('https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto');

* {
    font-size: 1rem;
}

body {
    background: linear-gradient(to right, #3FB6A8, #7ED386);
}

.container {
    background: #FFFFFF;
    width: 660px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    margin-top: 1%;
    box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
}

.notification {
    width: fit-content;
    position: relative;
    left: 45%;
    padding: 5px 10px;
    border-radius: 5px;
    animation: fadeOut ease-in 0.4s forwards;
    animation-delay: 3s;
}

.notification span {
    font-size: 18px;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-200%);

    }
}

.logo {
    float: right;
    margin-right: 12px;
    margin-top: 12px;
    font-family: 'Nunito Sans', sans-serif;
    color: #3DBB3D;
    font-weight: 900;
    font-size: 1.5em;
    letter-spacing: 1px;
}

.leftbox {
    float: left;
    top: -3%;
    left: 6%;
    position: absolute;
    width: 26%;
    height: 106%;
    background: #7ED386;
    box-shadow: 3px 3px 10px rgba(119, 119, 119, 0.5);
    text-align: center;
}

.avatar {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.avatar img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.username {
    font-size: 1.5rem;
}

.active {
    color: #3FB6A8;
}

.rightbox {
    float: right;
    width: 60%;
    height: 100%;
}

.profile,
.payment,
.subscription,
.privacy,
.settings {
    transition: opacity 0.5s ease-in;
    position: absolute;
    width: 70%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #7ED386;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #777777;
    font-family: 'Roboto', sans-serif;
    width: 80%;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    margin-left: 2px;
    
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="date"],
select {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #3FB6A8, rgba(126, 211, 134, 0.5)) 1 0%;
    border-top: 0;
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    padding: 5px 0;
    color: #070707;
}


input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
select:focus {
    outline: 1px solid #3FB6A8;
    border-radius: 5px;
}

span {
    font-size: 0.5em;
    color: #777777;
}

input[type="submit"] {
    font-family: 'Roboto', sans-serif;
    padding: .5rem .9rem;
    margin-left: 27%;
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    color: #fff;
    background-color: #3FB6A8;
    transition: 0.3 hover;
    border-radius: 5px;
}

input[type="submit"]:hover {
    text-decoration: underline;
    font-weight: 900;
    cursor: pointer;
}

.privacy h2 {
    margin-top: 25px;
}

.settings h2 {
    margin-top: 25px;
}

.noshow {
    opacity: 0;
}

footer {
    position: absolute;
    width: 20%;
    bottom: 0;
    right: -20px;
    text-align: right;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}

footer p {
    border: none;
    padding: 0;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #7d7d7d;
}

.return-btn {
    width: 100px;
    height: 50px;
    border-radius: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.return-btn:hover {
    background: #ccc;
}

.success {
    color: #fff;
}

.error {
    color: red;
}

#firstname_result span,
#lastname_result span,
#place_birth_result span{
    font-size: 16px;
}