.products .box-container .box img{
    height: 20rem;
    width: 100%;
    object-fit: contain;
    margin-bottom: 1rem;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 33rem);
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}

.heading{
    font-size: 4rem;
    color: black;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.box{
    position: relative;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    padding: 2rem;
    overflow: hidden;
}

.name{
    font-size: 2rem;
    color: black;
}

.flex{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.qty{
    width: 7rem;
    padding: 1rem;
    border: .2rem solid black;
    font-size: 1.8rem;
    color: black;
    border-radius: .5rem;
}

.price{
    font-size: 2rem;
    color: red;
    margin-right: auto;
}

.btn-addtocart{
    background-color: #2980b9;
    display: block;
    width: 100%;
    margin-top: 1rem;
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    color: white;
    cursor: pointer;
    text-align: center;
}

.btn-addtocart:hover{
    background-color: black;
}