@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

:root {
  --main-color: var(--carribean-green);
  --color-dark: #1d2231;
  --text-grey: #8390a2;
  --carribean-green: #40c9a2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.card-header button {
  cursor: pointer;
}

.card-header a{
  text-decoration: none;
  color: black;
}

.admin-sidebar {
  width: 345px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--main-color);
  z-index: 100;
  transition: width 300ms;
  /* overflow-y: scroll; */
}

.admin-sidebar-brand {
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;
}

.admin-sidebar-brand span {
  display: inline-block;
  padding-right: 1rem;
}

.admin-sidebar-menu {
  margin-top: 1rem;
  /* overflow-y: scroll; */
}

.admin-sidebar-menu li {
  width: 100%;
  margin-bottom: 1.3rem;
  padding-left: 1rem;
}

.admin-sidebar-menu a {
  padding-left: 1rem;
  display: block;
  color: #fff;
  font-size: 1.1rem;
}

.admin-sidebar-menu a.active {
  background: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--main-color);
  border-radius: 30px 0px 0px 30px;
}

.admin-sidebar-menu a span:first-child {
  font-size: 1.5rem;
  padding-right: 1rem;
}
/*config nav toggle*/
#nav-toggle:checked + .admin-sidebar {
  width: 70px;
}

#nav-toggle:checked + .admin-sidebar .admin-sidebar-brand,
#nav-toggle:checked + .admin-sidebar li {
  padding-left: 1rem;
  text-align: center;
}

#nav-toggle:checked + .admin-sidebar li a {
  padding-left: 0rem;
}

#nav-toggle:checked + .admin-sidebar .admin-sidebar-brand h2 span:last-child,
#nav-toggle:checked + .admin-sidebar li a span:last-child {
  display: none;
}

#nav-toggle:checked ~ .admin-main-content {
  margin-left: 70px;
}

#nav-toggle:checked ~ header {
  width: calc(100% - 70px);
  left: 70px;
}
/* end config nav toggle*/
.admin-main-content {
  transition: margin-left 300ms;
  margin-left: 345px;
}

.content {
  margin-top: 5rem;
}

header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 345px;
  width: calc(100% - 345px);
  top: 0;
  z-index: 100;
  transition: left 300ms;
}

#nav-toggle {
  display: none;
}

header h2 {
  color: #222;
}

header label span {
  font-size: 1.7rem;
  padding-right: 1rem;
}

.admin-search-wrapper {
  border: 1px solid #f0f0f0;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
}

.admin-search-wrapper span {
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}

.admin-search-wrapper input {
  height: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
}

.admin-user-wrapper {
  display: flex;
  align-items: center;
}

.admin-user-wrapper img {
  border-radius: 50%;
  margin-right: 1rem;
}

.admin-user-wrapper small {
  display: inline-block;
  color: var(--text-grey);
}

main {
  margin-top: 85px;
  padding: 2rem 1.5rem;
  background: #f1f5f9;
  min-height: calc(100vh - 90px);
}

.admin-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.admin-card-single {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 2rem;
  border-radius: 2px;
  margin-top: 4.5rem;
}

.admin-card-single div:last-child span {
  font-size: 3rem;
  color: var(--main-color);
}

.admin-card-single div:first-child span {
  color: var(--text-grey);
}

.admin-card-single:last-child {
  background: var(--main-color);
}
.admin-card-single:last-child h1,
.admin-card-single:last-child div:first-child span,
.admin-card-single:last-child div:last-child span {
  color: #fff;
}

.recent-grid {
  margin-top: 3.5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 65% auto;
}

.card {
  background: #fff;
  border-radius: 5px;
}

.card-header,
.card-body {
  padding: 1rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}

.card-header button {
  background: var(--main-color);
  border-radius: 10px;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--main-color);
}

table {
  border-collapse: collapse;
}

thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

thead td {
  font-weight: 700;
}

td {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #222;
}

td .status {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 1rem;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.table-responsive .delete{
  color: red;
}

.customer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.7rem;
}

.info {
  display: flex;
  align-items: center;
}

.info img {
  border-radius: 50%;
  margin-right: 1rem;
}

.info h4 {
  font-size: 0.8rem;
  font-weight: 700;
  color: #222;
}

.info small {
  font-weight: 600;
  color: var(--text-grey);
}

.contact span {
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  color: var(--main-color);
}

.success
{
  color: var(--carribean-green);
}

.error
{
  color: red;
}

@media only screen and (max-width: 1200px) {
  header{
    left: 70px;
    width: calc(100% - 70px);
  }
  .admin-sidebar {
    width: 70px;
  }

  .admin-sidebar .admin-sidebar-brand,
  .admin-sidebar li {
    padding-left: 1rem;
    text-align: center;
  }

  .admin-sidebar li a {
    padding-left: 0rem;
  }

  .admin-sidebar .admin-sidebar-brand h2 span:last-child,
  .admin-sidebar li a span:last-child {
    display: none;
  }

  .admin-main-content {
    margin-left: 70px;
  }

  .admin-main-content header {
    width: calc(100% - 70px);
    left: 70px;
  }
}

@media only screen and (max-width: 960px) {
  .admin-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .recent-grid {
    grid-template-columns: 60% 40%;
  }
}

@media only screen and (max-width: 768px) {
  .admin-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .recent-grid {
    grid-template-columns: 100%;
  }

  .admin-search-wrapper {
    display: none;
  }

  .admin-sidebar {
    left: -100% !important;
  }

  header h2 {
    display: flex;
    align-items: center;
  }

  header h2 label {
    display: flex;
    text-align: center;
    background: var(--main-color);
    padding-right: 0rem;
    margin-right: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center !important;
  }

  header h2 span {
    text-align: center;
    padding-right: 0rem;
  }

  header h2 {
    font-size: 1.1rem;
  }

  .admin-main-content {
    width: 100%;
    margin-left: 0rem;
  }

  header {
    width: 100% !important;
    left: 0 !important;
  }

  #nav-toggle:checked + .admin-sidebar {
    left: 0 !important;
    z-index: 100;
    width: 345px;
  }

  #nav-toggle:checked + .admin-sidebar .admin-sidebar-brand,
  #nav-toggle:checked + .admin-sidebar li {
    padding-left: 2rem;
    text-align: left;
  }

  #nav-toggle:checked + .admin-sidebar li a {
    padding-left: 1rem;
  }

  #nav-toggle:checked + .admin-sidebar .admin-sidebar-brand h2 span:last-child,
  #nav-toggle:checked + .admin-sidebar li a span:last-child {
    display: inline;
  }

  #nav-toggle:checked ~ .admin-main-content {
    margin-left: 0rem !important;
  }
}

@media only screen and (max-width: 560px) {
  .admin-cards {
    grid-template-columns: 100%;
  }
}
