@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

:root {
  --main-color: var(--carribean-green);
  --color-dark: #1d2231;
  --text-grey: #8390a2;
  --carribean-green: #40c9a2;
}

.card {
  background: #fff;
  border-radius: 5px;
}

.card-header,
.card-body {
  padding: 1rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  position: relative;
}

/* .card-header button {
  background: var(--main-color);
  border-radius: 10px;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--main-color);
} */

.card-header button a:hover{
  transition: 0.3s;
  color: #fff;
}

.card-header .notification {
  padding: 5px 10px;
  border-radius: 5px;
  animation: fadeOut ease-in 0.4s forwards;
  animation-delay: 3s;
}

.card-header .notification span{
  font-size: 18px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-200%);
    
  }
}

table {
  border-collapse: collapse;
}

thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

thead td {
  font-weight: 700;
}

td {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #222;
}

#product-data .Delete {
  color: red;
}

#product-data .Detail {
  display: flex;
  color: #03a945;
}

#product-data .Edit {
  color: blue;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

/* config the toggle button */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #2196f3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.activeBg {
  background-color: #ccc;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* start bottom-pagination */

.bottom-pagination {
  display: flex;
  padding-top: 13px;
  margin-left: 10px;
  margin-top: 20px;
  border-top: 1px solid #ccc;
}

.pagination {
  display: flex;
  list-style: none;
  margin: 0 auto;
}

.pagination li.item {
  text-align: center;
  border: 1px solid #a6a5a5;
  padding: 5px 0px;
  margin: 0 5px;
  width: 30px;
}

.pagination li.item a {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

.pagination li a:hover {
  color: #f04e45;
}

.pagination li.current {
  background-color: #f04e45;
}

.pagination li.current a {
  color: white;
}

/* end bottom-pagination */