@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

:root {
  --main-color: var(--carribean-green);
  --color-dark: #1d2231;
  --text-grey: #8390a2;
  --carribean-green: #40c9a2;
  --main-boxshadow: 0 0 10px 0 #80808026;
  --red-color: #ee3158;
  --icon-color: #172b4c;
  --blue-color: #3596f7;
  --yellow-color: #ffa800;
  --green-color: #0be881;
}

.card {
  background: #fff;
  border-radius: 5px;
}

.card-header,
.card-body {
  padding: 1rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  position: relative;
}

.card-header button:hover p {
  transition: 0.3s;
  color: #fff;
}

.card-header .notification {
  padding: 5px 10px;
  border-radius: 5px;
  animation: fadeOut ease-in 0.4s forwards;
  animation-delay: 3s;
}

.card-header .notification span {
  font-size: 18px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-200%);

  }
}

table {
  border-collapse: collapse;
}

thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

thead td {
  font-weight: 700;
}

td {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #222;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.table-responsive .action-btn-delete button {
  color: red;
  background-color: #fff;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.table-responsive .action-btn-edit button {
  color: blue;
  background-color: #fff;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.bg-modal-box {
  position: fixed;
  z-index: 2000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00000080;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.bg-modal-box.active {
  opacity: 1;
  visibility: visible;
}

.modal-container-delete,
.modal-container-edit,
.modal-container-add {
  position: fixed;
  z-index: 2001;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: var(--main-boxshadow);
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.modal-container-edit,
.modal-container-add {
  width: 500px;
  height: auto;
}

.modal-container-delete {
  width: 400px;
  height: 100px;
}

.modal-container-delete.active,
.modal-container-edit.active,
.modal-container-add.active {
  opacity: 1;
  visibility: visible;
}

/* modal delete */
.modal-delete-title {
  font-weight: 500;
  font-size: 18px;
  color: var(--red-color);
  text-align: center;
}

.modal-delete-btn-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.modal-delete-btn {
  font-size: 14px;
  color: var(--icon-color);
  width: 90px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
  border: none;
}

.modal-delete-btn.delete-btn {
  background-color: var(--red-color);
  color: #fff;
}

.modal-delete-btn.delete-btn-cancel {
  background-color: #8080801f;
}

/* modal delete end*/

/* modal edit */
.modal-container-edit-close,
.modal-container-add-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 25px;
  color: var(--red-color);
  cursor: pointer;
}

.modal-edit-info,
.modal-add-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-edit-info-item,
.modal-add-info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.modal-edit-info-item label,
.modal-add-info-item label {
  font-size: 15px;
  color: var(--blue-color);
}

.modal-edit-info-item input,
.modal-add-info-item input {
  padding: 8px 20px;
  border: 0.5px solid #0000ff29;
  border-radius: 5px;
  transition: 0.2s;
}

.modal-edit-info-item input:focus,
.modal-add-info-item input:focus {
  border-color: var(--blue-color);
}

select.modal-edit-input-select,
select.modal-add-input-select {
  text-align: center;
  border: 0.5px solid #0000ff29;
  height: 37.6px;
  border-radius: 5px;
}

.modal-edit-input-select option,
.modal-add-input-select option  {
  width: 100%;
  font-size: 15px;
}

select.modal-edit-input-select:focus,
select.modal-add-input-select:focus {
  outline-color: var(--blue-color);
}

.modal-edit-btn,
.modal-add-btn{
  padding: 8px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow-color);
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.modal-add-btn{
  background-color: var(--green-color);
}

/* modal edit end*/

/* config the toggle button */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #2196f3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.activeBg {
  background-color: #ccc;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* start bottom-pagination */

.bottom-pagination {
  display: flex;
  padding-top: 13px;
  margin-left: 10px;
  margin-top: 20px;
  border-top: 1px solid #ccc;
}

.pagination {
  display: flex;
  list-style: none;
  margin: 0 auto;
}

.pagination li.item {
  text-align: center;
  border: 1px solid #a6a5a5;
  padding: 5px 0px;
  margin: 0 5px;
  width: 30px;
}

.pagination li.item a {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

.pagination li a:hover {
  color: #f04e45;
}

.pagination li.current {
  background-color: #f04e45;
}

.pagination li.current a {
  color: white;
}

/* end bottom-pagination */